video(id='player' controls autoplay)
button(onclick='switchCamera()') switch camera
script(src="/socket.io/socket.io.js")
script.
	const player = document.getElementById('player');

	let switchCamera; // function for switching camera

	// use "window.location.href" so it doesn't matter if you use localhost or the ip address to access the server
	var socket = io.connect(window.location.href, {secure: true});

	navigator.mediaDevices.enumerateDevices().then(function (devices) {
		cameraDevices = devices.filter(device => device.kind == 'videoinput');

		socket.emit('cameraDevices', cameraDevices);

		let deviceIndex = 0;
		let videoSource = cameraDevices[deviceIndex].deviceId;

		switchCamera = function () {
			deviceIndex = (deviceIndex+1) % cameraDevices.length;
			videoSource = cameraDevices[deviceIndex].deviceId;
			startStream();
		}

		function startStream () {
			console.log(cameraDevices[deviceIndex].deviceId);
			navigator.mediaDevices.getUserMedia({ video: {deviceId: {exact: videoSource} } })
				.then((stream) => {
					player.srcObject = stream;
				});
		}

		startStream();
	});
	socket.on('news', function (data) {
		console.log(data);
		socket.emit('my other event', { my: 'data' });
	});
