script(src="/socket.io/socket.io.js")
canvas(id="canvas" width="1000" height="1000")
script.
	const canvas = document.getElementById("canvas");
	const ctx = canvas.getContext("2d");

	const socket_namespace = '/visualizer';

	var socket = io.connect(socket_namespace, {secure: true});

	const center = { x: canvas.width/2, y: canvas.height/2 }
	var point = (x, y) => [ x+center.x, y+center.y ];

	var totems = [];

	function redraw(cameraPose) {
		ctx.clearRect(0, 0, canvas.width, canvas.height);

		// draw origin
		ctx.beginPath(); 
		ctx.strokeStyle = "black";
		ctx.moveTo(...point(-20, 0));
		ctx.lineTo(...point(20, 0));
		ctx.stroke();
		ctx.moveTo(...point(0, -20));
		ctx.lineTo(...point(0, 20));
		ctx.stroke();

		// draw camera pose
		ctx.fillStyle = "red";
		ctx.fillRect(...point(cameraPose.center.x, cameraPose.center.y), 10, 10);

		ctx.beginPath(); 
		ctx.strokeStyle = "red";
		ctx.moveTo(...point(cameraPose.center.x, cameraPose.center.y));
		ctx.lineTo(...point(cameraPose.north.x, cameraPose.north.y));
		ctx.stroke();

		totems.forEach((totem) => {
			ctx.fillStyle = "green";
			ctx.fillRect(...point(totem.x, totem.y), 5, 5);
		});
	}

	socket.on('cameraPose', function (cameraPose) {
		console.log('cameraPose: [' + cameraPose.center.x + ', ' + cameraPose.center.y + ']');
		redraw(cameraPose);
		setTimeout(() => socket.emit('visualizer-ready'), 200);
	});

	socket.on('totems', function (data) {
		totems = data;
	});

	socket.emit('visualizer-ready');
