script(src="/socket.io/socket.io.js")
canvas(id="canvas" width="1000" height="1000")
script.
	const canvas = document.getElementById("canvas");
	const ctx = canvas.getContext("2d");

	const socket_namespace = '/visualizer';

	var socket = io.connect(socket_namespace, {secure: true});

	const center = { x: canvas.width/2, y: canvas.height/2 }
	var point = (x, y) => [ x+center.x, y+center.y ];

	function redraw(x, y) {
		ctx.clearRect(0, 0, canvas.width, canvas.height);

		// draw origin
		ctx.moveTo(...point(-20, 0));
		ctx.lineTo(...point(20, 0));
		ctx.stroke();
		ctx.moveTo(...point(0, -20));
		ctx.lineTo(...point(0, 20));
		ctx.stroke();

		// draw camera pose
		ctx.fillStyle = "#FF0000";
		ctx.fillRect(...point(x, y), 10, 10);
	}

	socket.on('cameraPose', function (cameraPose) {
		console.log('cameraPose: [' + cameraPose.x + ', ' + cameraPose.y + ']');
		redraw(cameraPose.x, cameraPose.y);
	});

	redraw(0, 0);

	socket.emit('visualizer-ready');
